body{
 text-align: center;  
   background-color: azure 
}
#Announcement{
   background-color:blue;
    color: cornsilk;
}
h1{
    color: crimson;
    font: bold;
}
h5{
    color: brown;
    font:bold;
}